footer{
    padding: 50px 60px;
    color: #6c6d6e;
}

a{
    font-size: small;
    text-decoration: none;
    color: #6c6d6e;
    margin: 5px 0;
    display: inline;
}

a:hover{
    color: #6c6d6e;
    text-decoration: underline;
}

.footer-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-container div{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    footer{
        padding: 50px 30px;
    }
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}